.input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.currencyHolder {
  margin: 5px;
}

.currency {
  display: inline-block;
  color: black;
  margin-right: 5px;
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 7px;
  padding: 3px;
  box-shadow:
    inset 0 0 3px black,
    0 0 2px black;
}

.currency:hover {
  opacity: 80%;
}

.currency:active {
  outline: 0;
  box-shadow:
          inset 0 0 5px black,
          0 0 0 black;
}
